<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="Description"
			content="Author: Rishav Rungta, Purpose: I made this site as a larning project and will try and use react soon.">
		<title>BloodBank</title>

		<!-- Compiled latest Css -->
		<link rel="stylesheet" href="materialize.min.css" />

		<!--Import Google Icon Font-->
		<link href="icon.css" rel="stylesheet" />

		<link rel="stylesheet" href="style.css">

	</head>

	<body>
		<!-- Nav -->
		<nav class="mynav">
			<div class="nav-wrapper container">
				<a href="/"><img src="bbi-logo.png" alt="Universe" class="brand-logo"></a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a id="hider" class="btn-floating waves-effect waves-light transparent"><i
								class="material-icons">search</i></a>
					</li>
					<li><a class="btn transparent" href="/donate">Donate</a></li>
					<% if(logged){ %>
					<li><a class="btn transparent" href="/logout">Logout</a></li>
					<% } %>
				</ul>
			</div>
		</nav>
		<ul class="sidenav" id="mobile-demo">
			<li>
				<div class="row container" style="margin-top: 2rem;">
					<form action="/bank" autocomplete="off">
						<div class="col l12 m12 s12">
							<label class="black-text" for="blood">Blood Group</label>
							<select name="blood" id="blood" class="validate">
								<option value="">Any</option>
								<option value="A">A</option>
								<option value="B">B</option>
								<option value="O">O</option>
								<option value="AB">AB</option>
							</select>
						</div>

						<div class="col l12 m12 s12">
							<label class="black-text" for="rh">Rh Factor</label>
							<p class="black-text">
								<label>
									<input class="with-gap black-text" value="+" name="rh" id="rh" type="radio" />
									<span class="black-text">Positive</span>
								</label>
								<label>
									<input class="with-gap black-text" value="-" name="rh" id="rh" type="radio" />
									<span class="black-text">Negetive</span>
								</label>
							</p>
						</div>
						<div class="col l12 m12 s12 input-field">
							<input type="text" name="city" placeholder="City" id="city" class="validate">
							<label for="city">City</label>
						</div>
						<div class="col l12 s12 m12 center">
							<button type="submit" class="btn-floating btn-large waves-effect waves-light red"><i
									class="material-icons">search</i></button>
						</div>
					</form>
				</div>
			</li>
			<li><a class="btn red" href="/donate">Donate</a></li>
			<% if(logged){ %>
			<li><a class="btn red" href="/logout">Logout</a></li>
			<% } %>
		</ul>


		<!-- Search -->
		<div class="row container" id="searcher" style="display: none; margin-top: 2rem;">
			<form action="/bank" class="white-text" autocomplete="off">
				<div class="col l3 m2 s12">
					<label class="white-text" for="blood">Blood Group</label>
					<select name="blood" id="blood" class="validate">
						<option value="">Any</option>
						<option value="A">A</option>
						<option value="B">B</option>
						<option value="O">O</option>
						<option value="AB">AB</option>
					</select>
				</div>

				<div class="col l3 m4 s12">
					<label class="white-text" for="rh">Rh Factor</label>
					<p class=" white-text">
						<label>
							<input class="with-gap white-text white" value="+" name="rh" id="rh" type="radio" />
							<span class="white-text">Positive</span>
						</label>
						<label>
							<input class="with-gap white-text white" value="-" name="rh" id="rh" type="radio" />
							<span class="white-text">Negetive</span>
						</label>
					</p>
				</div>
				<div class="col l6 m6 s12 input-field">
					<input type="text" name="city" placeholder="City" id="city" class="validate white-text">
					<label for="city" class="white-text">City</label>
				</div>
				<div class="col l12 s12 m12 center">
					<button type="submit" class="btn-floating btn-large waves-effect waves-light red"><i
							class="material-icons">search</i></button>
				</div>
			</form>
		</div>

		<!-- Crap -->
		<div class="row section">
			<% if(docs.length == 0){ %>
			<div class="container center">
				<img src="boys.png" alt="Empty" class="responsive-img">
				<p class="white-text flow-text">Me and the boys looking at 0 donors. Please redefine your search or go to <a
						style="text-decoration: underline" class="white-text" href="/bank">Page 1</a>.</p>
			</div>
			<%} else { %>
			<% docs.forEach((doc)=>{ %>
			<div class="col s12 m6 l4">
				<div class="card red darken-1">
					<div class="card-content white-text">
						<span class="card-title flow-text">
							<!-- <i class="material-icons">sentiment_very_satisfied</i> -->
							<%= doc.name.substr(0,25) %></span>
						<div class="row">
							<span class="col l6 m6 s6">Blood Group </span>
							<span class="col l6 m6 s6"><%= doc.bloodGroup %></span>
							<span class="col l6 m6 s6">City of Donation </span>
							<span class="col l6 m6 s6"><%= doc.city.substr(0,18) %></span>
							<span class="col l6 m6 s6">Amount of blood </span>
							<span class="col l6 m6 s6"><%= doc.amount %> Pint</span>
						</div>
					</div>
					<div class="card-action">
						<a href="tel:<%= doc.phone %>" class="white-text"><i class="material-icons right">phone</i>Call me!</a>
					</div>
				</div>
			</div>
			<% })} %>
		</div>
		<!--Import Font Awesome-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
			integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		</link>

		<%- include footer.ejs %>

		<script src="jquery.min.js"></script>
		<script src="materialize.min.js"></script>
		<script src="bank.js"></script>
	</body>

</html>